<!--прередаем тип данных, параметр которых мы сейчас укажем в model, у представления бывает только 1 прараметр-->
@model Product
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">@Model.Name - @Model.Description</h1>
</div>

<div class="row">
    <div class="col-9">
        <img class="card-img-top" src="/image/@Model.Images[0]">
    </div>
    <div class="col">
        <div class="card-body">
            <h6>Общая площадь: @Model.Square м.кв.</h6>
            <h6>Габариты: @Model.Length х @Model.Width м</h6>
            <h6>Стоймость проекта: @Model.Cost руб</h6>
            <a class="btn btn-outline-dark" href="#" role="button">В корзину</a>
            <h6></h6>
            <a class="btn btn-outline-dark" href="#" role="button">В cравнение</a>
        </div>
    </div>
</div>

