@model Product

<div class="row">
    <div class="col-6">
        <img class="card-img-top" src=@Model.ImagesPath alt="Изображение товара" />
    </div>

    <div class="col-6">
        <h5>@Model.Name</h5>
        <h5>@Model.Price руб</h5>
        <h5>@Model.Description</h5>
        <h5>@Model.GPU</h5>
        <h5>@Model.MemoryType</h5>
        <h5>@Model.MemoryCount</h5>
        <h5>@Model.GpuGhz</h5>
        <h5>@Model.TurboGpuGhz</h5>
        <a class="btn btn-outline-dark" href="/home/index" role="button">Продолжить покупки</a>
        <a class="btn btn-primary" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
        <a class="btn btn-warning" href="/comparison/compare/add?productId=@Model.Id" role="button">Добавить в сравнение</a>
    </div>
</div>