@model List<ProductViewModel>

<div class="row">
    <div class="col">
        <table class="table">
               
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cost, @Constants.Rub</th>
                    <th>Description</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @*<a style="color:black" href="/product/item/@item.Id">@item.Name </a>*@
                            <a style="color:black"
                               asp-area=""
                               asp-controller="Product"
                               asp-action="Item"
                               asp-route-id="@item.Id">
                                <h3>@item.Name, @item.Cost @Constants.Rub</h3>
                            </a>
                        </td>
                        <td>@item.Cost</td>
                        <td>@item.Description</td>
                    </tr>
                    }
            </tbody>

        </table>
    </div>
</div>
