@model ProductViewModel

@{
    ViewData["Title"] = @Model.Name;
}

<h3>@Model.Name</h3>
<h3>@Model.Cost @Constants.Rub </h3>
<h5>@Model.Description </h5>
<p>
    Here will be a proper <br>
    item description.
</p>

<div class="col-4 card">
    <img class="card-img-top" src="@Model.ImagePath" />
    <a class="btn btn-outline-light btn-sm" role="button" 
       asp-area=""
       asp-controller="Home">
            Back to catalog
    </a>
    <a class="btn btn-outline-warning btn-sm" role="button"
       asp-area=""
       asp-controller="Cart"
       asp-action="Add"
       asp-route-productId="@Model.Id">
            Add to Cart
    </a>
</div>


