@model OnlineShopWebApp.Models.Person;
@{
    ViewData["Title"] = "AddProductInBasket";
}


<div class="text-center">
    <h1 class="display-5 Title_sile">Корзина покупок</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered caption-top">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название проекта</th>
                <th scope="col">Изображение</th>
                <th scope="col">Габариты (м)</th>
                <th scope="col">Площадь (м2)</th>
                <th scope="col">Стоймость (руб)</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            @if (Model.BasketList.Count != 0)
            {
                <tbody>

                @for (int i = 0; i < Model.BasketList.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>№ @Model.BasketList[0].Name @Model.BasketList[0].Description</td>
                        <td> <img class="card-img-top " src="/image/@Model.BasketList[0].Images[0]" width="200"/></td>
                        <td>@Model.BasketList[0].Length х @Model.BasketList[0].Width</td>
                        <td>@Model.BasketList[0].Square</td>
                        <td>@Model.BasketList[0].Cost</td>
                        <td>
                            <a class="btn btn-outline-secondary" 
                               asp-area="" asp-controller="Person" 
                               asp-action="DeleteProductInBasket" 
                               asp-route-id_product="@i" 
                               role="button">Удалить из списка</a>
                        </td>
                    </tr>
                }
                </tbody>
            }
            else
            {
                <td colspan="7">Проекты отсутствуют</td>
            }

        </table>
    </div>
</div>
