@model OnlineShopWebApp.Models.Person;
@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="row">
        <h5 class="display-5 Title_sile">Личный кабинет</h5>
    </div>
</div>
<div class="container">
    <div class="row">
        <img src="image/all-foto.jpg" class="col-2 card-img-top" />
        <div class="col">
            <p>Id: @Model.Id</p>
            <p>Имя: @Model.FistName</p>
            <p>Фамилия: @Model.Surname</p>
            <p>Возраст: @Model.Age</p>
            <p>Email: @Model.Email</p>
        </div>
    </div>

</div>

<p></p>
<div class="container g-10">
    <a class="btn btn-outline-secondary col-sm-3" asp-area="" asp-controller="Person" asp-action="Comparison" role="button">Сравнительная таблица</a>
    <a class="btn btn-outline-secondary col-sm-3" asp-area="" asp-controller="Person" asp-action="Basket" role="button">Корзина</a>
    <a class="btn btn-outline-secondary col-sm-3" asp-area="" asp-controller="Person" asp-action="Orders" role="button">Купленные проекты</a>
</div>



