@using OnlineShopWebApp.ViewModels

@model OrderViewModel
@{
    ViewData["Title"] = "Оформление заказа";
}
@if (@Model.Cart != null)
{
    <form asp-controller="Order" asp-action="Create">
          <div class="validation" asp-validation-summary=ModelOnly></div>
        <div class="row">
            <div class="col text-center">
                <div>
                    <label>Имя</label>
                    <div class="mb-3">
                        <input asp-for=Order.FirstName type="text" />
                        <div>
                            <span asp-validation-for="Order.FirstName"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <label>Фамилия</label>
                    <div class="mb-3">
                        <input asp-for=Order.LastName type="text" />
                        <div>
                            <span asp-validation-for="Order.LastName"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <label>E-mail</label>
                    <div class="mb-3">
                        <input asp-for=Order.Email type="email" />
                        <div>
                            <span asp-validation-for="Order.Email"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <label>Телефон</label>
                    <div class="mb-3">
                        <input asp-for=Order.Phone type="tel" />
                        <div>
                            <span asp-validation-for="Order.Phone"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <label>Адрес</label>
                    <div class="mb-3">
                        <input asp-for=Order.Address type="text" />
                        <div>
                            <span asp-validation-for="Order.Address"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <table class="table">

                <tr>
                    <th>Название</th>
                    <th>Цена руб.</th>
                    <th>Количество</th>
                    <th>Стоимость руб.</th>
                </tr>

                @foreach (var cartItem in Model.Cart.Items)
                {
                    <tr>
                        <td>@cartItem.Product.Name</td>
                        <td>@cartItem.Product.Cost</td>
                        <td>@cartItem.Quantinity</td>
                        <td>@cartItem.Cost</td>
                    </tr>
                }

            </table>

        </div>

        <div class="text-right">
            <h3>Итоговая сумма: @Model.Cart.TotalCost руб.</h3>
        </div>

        <div>
            <button type="submit" class="btn btn-warning">Оформить заказ</button>


        </div>

    </form>
}
else
{
    <h2 class="text-center">Нет заказа.</h2>
    <a href="/home/index" class="btn btn-dark">Перейти в каталог</a>
}
