@using OnlineShopWebApp.Models

@model Customer

@{
    ViewBag.Title = "Страница оформления заказа";
}
<h2 align="center">Оформление заказа</h2>

<form method="post" asp-action="Add">
    <div class="row">
    <div class="col text-center">
        <div>
            <label>Имя</label>
            <div>
                <input type="text" name="name" />
            </div>

        </div>
        <div>
            <label>Фамилия</label>
            <div>
                <input type="text" name="lastname" />
            </div>
        </div>
        <div>
            <label>E-mail</label>
            <div>
                <input type="email" name="mail" />
            </div>
        </div>
        <div>
            <label>Телефон</label>
            <div>
                <input type="tel" name="phone"/>
            </div>
        </div>
        <div>
            <label>Адрес</label>
            <div>
                <input type="text" name="adress" />
            </div>
        </div>

    </div>

</div>
<div>
    <input type="submit" class="btn btn-dark" value="Оформить заказ"/>
</div>
</form>

@*
@using (Html.BeginForm())
{
    <div class="form-horizontal" align="center">
        <form method="post" asp-action="Add">
        <h5>Введите контактные сведения для оформления заказа</h5>
        <hr />
        <div class="form-group" asp-for="model.LastName">
            @Html.Label("Фамилия")
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)

            </div>
            @Html.Label("Имя")
            <div class="col-md-10" asp-for="model.Name">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group" asp-for="model.Mail">
            @Html.Label("Эл.почта")
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mail)
                @Html.ValidationMessageFor(model => model.Mail)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Адрес")
            <div class="col-md-10" asp-for="model.Address">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
                <div>
        <input role="button" align="center" class="btn btn-dark" href="/order/add/?userId=model.userId&?lastname=model.LastName&?name=model.Name&?mail=model.Mail&?adress=model.Address" value="Оформить"/>
        </div>      
        </form>
</div>
}
*@
<div>
    @Html.ActionLink("Назад в корзину", "Index")
</div>