@model List<Product>

    <h3>Список товаров</h3>
                <div class="row">
                    <table class="table">
                        <tr>
                            <th>№</th>
                            <th>Название</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.Name</td>
                                <td>@product.Cost ₽</td> 
                                <td>
                                    <a asp-controller="Admin" asp-action="EditProduct" asp-route-id="@product.Id" class="btn btn-primary" >Изменить</a>
                                    <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-danger">Удалить</a>
                                </td>
                            </tr>
                        }
                        <tr>
                          <td colspan="4"><a asp-controller="Admin" asp-action="AddProduct" class="btn btn-primary">Добавить новый</a></td>
                          
                        </tr>
                    </table>
                </div>


   