
@model List<Order>
@{
    ViewData["Title"] = "Панель администратора";
}


<div class="row">
     @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h3>Список заказов</h3>
                <div class="row">
                    <table class="table">
                        <tr>
                            <th>№</th>
                            <th>Сумма</th>
                            <th>Статус</th>
                            <th>Польозватель(логин)</th>
                            <th>Дата</th>
                            <th>Время</th>
                        </tr>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.Id</td>
                                <td>@order.TotalCost ₽</td>
                                <td>@order.Status</td>
                                 <td>@order.Email</td>
                                <td>@order.Created.ToString("d")</td>
                                <td>@order.Created.ToString("t")</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

