@model List<ProductViewModel>

@if (Model == null || Model.Count == 0)
{
    <h3>Добавьте товары для сравнения</h3>
}
else
{
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">

            <img class="card-img-top" src="https://static4.depositphotos.com/1015530/309/i/600/depositphotos_3098299-stock-photo-single-green-book.jpg" />

            <div class="card-body">
                <a style="color:grey" href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                </a>
                <table>
                    <tr><td>Цена @product.Cost руб.</td></tr>
                    <tr><td>Количество страниц @product.Pages</td></tr>

                </table>

                <a class="btn btn-dark" asp-area="" asp-controller="cart" asp-action="add" asp-route-productId="@product.Id" role="button">Добавить в корзину</a>
                <p></p>
                <a class="btn btn-success btn-sm" asp-area="" asp-controller="favourite" asp-action="add" asp-route-productId="@product.Id" role="button">Добавить в избранное</a>
                <p></p>
                <a class="btn btn-danger" asp-area="" asp-controller="compare" asp-action="delete" asp-route-productId="@product.Id" role="button">Удалить из сравнения</a>

            </div>
        </div>
    
        }
    </div>
    <br />
    <a class="btn btn-danger" asp-area="" asp-controller="compare" asp-action="clear" role="button">Очистить сравнение</a>
}
