@model List<Product_ViewModel>;
@{
    ViewData["Title"] = "Список продуктов в сравнении";
}


<div class="text-center">
    <h1 class="display-5 Title_sile">Продукты в сравнении</h1>
    <p></p>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered caption-top">
            <thead>
                <tr>
                    <th scope="col" class="align-top">#</th>
                    <th scope="col" class="align-top">Название проекта</th>
                    <th scope="col" class="align-top">Изображение</th>
                    <th scope="col" class="align-top">Габариты (м)</th>
                    <th scope="col" class="align-top">Площадь (м2)</th>
                    <th scope="col" class="align-top">Стоймость (руб)</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            @if (Model.Count != 0)
            {
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>№ @Model[i].CodeNumber @Model[i].Description</td>
                            <td> <img class="card-img-top " src="/image/@Model[i].Images" width="200" /></td>
                            <td>@Model[i].Length х @Model[i].Width</td>
                            <td>@Model[i].Square</td>
                            <td>@Model[i].Cost</td>
                            <td>
                                <div class="d-grid gap-2">
                                    <a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1"
                                       asp-area="" 
                                       asp-controller="Favorite" 
                                       asp-action="Add" 
                                       asp-route-productId="@Model[i].Id"
                                       role="button">
                                        <img src="/image/favoriteAdd.svg" width="20" height="20">
                                    </a>
                                    <a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1"
                                       asp-area="" 
                                       asp-controller="Cart" 
                                       asp-action="AddProduct" 
                                       asp-route-productId="@Model[i].Id"
                                       role="button">
                                        <img src="/image/cartAdd.svg" width="20" height="20">
                                    </a>
                                    <a class="btn btn-outline-danger text-nowrap btn-sm mx-1 my-1"
                                       asp-area="" 
                                       asp-controller="Comparison" 
                                       asp-action="Remove" 
                                       asp-route-productId="@Model[i].Id"
                                       role="button">
                                        Удалить из сравнения
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                </tbody>
            }
            else
            {
                <td colspan="9">Проекты отсутствуют</td>
            }

        </table>
    </div>

    <a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1" asp-area="" asp-controller="Comparison" asp-action="Clear" role="button">Очистить список сравнения</a>
</div>
