@model ProductViewModel
<div class="card shadow">
    <div class="card-body">
        <form asp-controller="Product" asp-action="EditProduct" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <img src="@Model.ImgPath" width="300" height="475" alt="изображение книги" />
                </div>
                <div class="col-8">
                    <div class="mb-3">
                        <label>Название:</label>
                        <input type="text" class="form-control" asp-for="Name" placeholder="Имя" value="@Model.Name" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="mb-3">
                        <label>Цена:</label>
                        <input type="text" class="form-control" asp-for="Cost" placeholder="Цена" value="@Model.Cost" />
                        <span asp-validation-for="Cost"></span>
                    </div>
                    <div class="mb-3">
                        <label>Описание:</label>
                        <input type="text" class="form-control" asp-for="Description" placeholder="Описание" value="@Model.Description" />
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="mb-3">
                        <label>Изображение:</label>
                       <input type="file" class="form-control" asp-for="UploadedImg"/>
                    </div>
                    <input type="hidden" class="form-control" asp-for="Id" value="@Model.Id" />
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-dark">Изменить</button>
                    </div>
                    <input type="hidden" asp-for="ImgPath" value="@Model.ImgPath" />
                    <div class="mb-3 text-center">
                        <a class="btn btn-dark" asp-controller="Product" asp-action="Index">Отмена</a>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>
