@using OnlineShopWebApp.Models;

@model ProductViewModel

<form method="post" asp-action="EditProduct" asp-controller="Product" asp-area="Admin">
    <div class="validation" asp-validation-summary="All"></div>
    <div class="row">
        @await Html.PartialAsync("AdminPanel")
        <div class="col text-center">
            <h3>Редактировать информацию об услуге</h3>
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="mt-3">
                <img src="@Model.ImagePath" width="300" height="400" alt="Услуга" />
            </div>
            <select class="col-2 mb-3 form-control form-control-sm" asp-for="Available">
                <option value="true">Доступна</option>
                <option value="false">Недоступна</option>
            </select>
            <div class="mb-3">
                <label class="form-label text-muted" asp-for="ImagePath">Путь для изображения</label>
                <input class="form-control" asp-for="ImagePath" value="@Model.ImagePath">
                <span asp-validation-for="ImagePath"></span>
            </div>
            <label asp-for="Name">Название</label>
            <input asp-for="Name" value="@Model.Name" />
            <span asp-validation-for="Name"></span>
            <br />
            <label asp-for="Cost">Цена</label>
            <input asp-for="Cost" value="@Model.Cost" />
            <span asp-validation-for="Cost"></span>
            <br />
            <label asp-for="Description">Описание</label>
            <input asp-for="Description" value="@Model.Description" />
            <span asp-validation-for="Description"></span>
            <br />
            <label asp-for="UploadeImage">Изображение</label>
            <input asp-for="UploadeImage" value="@Model.UploadeImage" />
            <span asp-validation-for="UploadeImage"></span>
            <br />
            <button class="btn btn-dark" type="submit" asp-area="Admin" asp-controller="Product" asp-action="SaveEditedProduct" asp-route-productId="@Model.Id">Сохранить</button>
        </div>
    </div>
</form>