@using OnlineShopWebApp.Models;

@model ProductViewModel

@{
    ViewData["Title"] = "Edit product data";
}
<div class="container align-content-center">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenuLeft")
        </div>
        <div class="col-10 mx-auto">
            <h2>Edit product data</h2>
            <div class="validation" asp-validation-summary="All"></div>
            <form asp-controller="Product" asp-action="Edit" asp-area="Admin">
                <div class="validation" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <input class="form-control" name="id" hidden value="@Model.Id">
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="ImagePath">Image path</label>
                    <input class="form-control" asp-for="ImagePath" value="@Model.ImagePath">
                    <span asp-validation-for="ImagePath"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="Name">Name</label>
                    <input class="form-control" asp-for="Name" value="@Model.Name">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="Cost">Cost</label>
                    <input class="form-control" type="number" asp-for="Cost" value="@Model.Cost">
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="Description">Description</label>
                    <textarea class="form-control" rows="4" asp-for="Description">@Model.Description</textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark btn-sm" asp-area="Admin" asp-controller="Product" asp-action="Edit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>