@using OnlineShopWebApp.Models
@using System.Collections.Generic;
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenuLeft")
        </div>
        <div class="col-10">
            <h2>Products</h2>
            <h6><a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Add">Add new Product</a></h6>
            <table class="table border-left border-right border-top border-bottom mt-4">
                <caption>Product list</caption>
                <thead class="table-light">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Name</th>
                        <th scope="col">Cost</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tbody class="border-top-0">
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@Model[i].Id">@Model[i].Name</a>
                            </td>
                            <td>
                                $@Model[i].Cost
                            </td>
                            <td>
                                <div class="btn-group ml-2" role="group" aria-label="Edit/Remove buttons">
                                    <a class="btn btn-outline-dark btn-sm" role="button"
                                   asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a>
                                    <a class="btn btn-outline-dark btn-sm" role="button"
                                   asp-area="Admin" asp-controller="Product" asp-action="Remove" asp-route-id="@Model[i].Id">Remove</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
