@model List<ProductViewModel>

<div class="row">
    @await Html.PartialAsync("AdminPanel")

    <div class="col-9">
        <a asp-area = "Admin" 
           asp-controller="Product" 
           asp-action="Add">Add new Product</a>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Cost, @Constants.Rub</th>
                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
			{
                <tr>
                    <td>@(i+1)</td>
                    <td>
                        <a style="color:black" 
                           asp-area="" 
                           asp-controller="Product"
                           asp-action="Item"
                           asp-route-Id="@Model[i].Id">@Model[i].Name </a>
                    </td>

                    <td>@Model[i].Cost</td>
                    <td>
                        <a style="color:blue" 
                           asp-area = "Admin" 
                           asp-controller="Product" 
                           asp-action="Edit" 
                           asp-route-productId="@Model[i].Id">Edit</a>
                    </td>

                    <td>
                        <a class="btn btn-outline-dark btn-sm" 
                           asp-area = "Admin" 
                           asp-controller="Product" 
                           asp-action="Delete" 
                           asp-route-productId="@Model[i].Id" role="button">Delete</a>
                    <td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>