@using OnlineShopWebApp.Models
@using System.Collections.Generic;
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenuLeft")
        </div>
        <div class="col-10">
            <h2>Products</h2>
            <h6><a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Add">Add new Product</a></h6>
            <table class="table border-left border-right border-top border-bottom mt-4">
                <caption>Product list</caption>
                <thead class="table-light">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Name</th>
                        <th scope="col">Cost</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @for (int i = 0; i < Model.Count; i++)
                {
                    string modalId = "removeModal" + (1 + i);
                    string headerId = "removeModalLabel" + (1 + i);

                    <tbody class="border-top-0">
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@Model[i].Id">@Model[i].Name</a>
                            </td>
                            <td>
                                $@Model[i].Cost
                            </td>
                            <td>
                                <div class="btn-group ml-2" role="group" aria-label="Edit/Remove buttons">
                                    <a class="btn btn-outline-dark btn-sm" role="button"
                                   asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@Model[i].Id">Edit</a>
                                    <!-- Trigger modal -->
                                <a class="btn btn-outline-dark btn-sm" role="button" href="#@modalId" data-toggle="modal">Remove</a>
                                    <!-- Modal -->
                                <div class="modal fade" id="@modalId" data-backdrop="static" tabindex="-1" aria-labelledby="@headerId" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="@headerId">Removing product...</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="close">x</button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <p>Are you sure you want to delete this product?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-sm btn-outline-dark" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-sm btn-outline-danger" role="button" asp-area="Admin" asp-controller="Product" asp-action="Remove" asp-route-id="@Model[i].Id">Remove product</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
