@using OnlineShopWebApp.Models

@model Cart

<h2 align="center">Корзина</h2>
@if (Model == null)
{
    <div class="404">
        <h3 align="center">Корзина пустая</h3>
        <img class="card-img-top" src="/images/404.jpg" />
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-light" align="center">
                    <tr>
                        <th scope="col">Фото</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена (руб.)</th>
                        <th scope="col">Стоимость (руб.)</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Изменить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Items)
                    {
                        <tr>
                            <td><img src=@product.Product.ImagePath style="width: 80px; height: 80px;" /></td>
                            <td><a href="/product/index/@product.Product.Id">@product.Product.Name</a></td>
                            <td>@product.Product.Cost</td>
                            <td>@product.Cost</td>
                            <td>@product.Count</td>
                            <td><a href="/cart/RemoveCountProductCart/?productId=@product.Product.Id" type="button" class="btn btn-danger">-</a><a href="/cart/add/?productId=@product.Product.Id" type="button" class="btn btn-danger">+</a></td>
                            @*<td><a href="#" type="button" class="btn btn-warning">+</a></td>*@
                        </tr>
                    }
                </tbody>
                <tr class="text-right">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h3>Итого</h3></td>
                    <td><h3>@Model.Cost</h3></td>
                </tr>
            </table>
            <div class="text-center">
                <a type="button" class="btn btn-dark" href="/home/index" role="button">Продолжить покупки</a>
                <a type="button" class="btn btn-dark" href="#" role="button">Оформить заказ</a>
            </div>
        </div>
    </div>
    <div class="text-right">
        <a type="button" class="btn btn-outline-danger" href="/cart/removeall" role="button">Очистить корзину</a>
    </div>
}