@model Cart

@if (Model == null || Model.Items.Count == 0)
{
    <h3>Корзина пустая</h3>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена руб</th>
                        <th>Количество</th>
                        <th>Стоимость руб</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Cost</td>
                            <td>@item.Amount</td>
                            <td>@item.Cost</td>
                            <td>
                                <a class="btn btn-outline-info" href="/cart/decreaseAmount?productId=@item.Product.Id" role="button">-</a>
                                <a class="btn btn-outline-info" href="/cart/add?productId=@item.Product.Id" role="button">+</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">
                <h3>Итого:</h3>
                <h3>@Model.Cost</h3>
            </div>
            <div class="text-center">
                <a class="btn btn-primary" href="/home/index" role="button">Продолжить покупки</a>
                <a class="btn btn-success" href="#" role="button">Оформить заказ</a>
                <a class="btn btn-danger" href="/cart/clear" role="button">Очистить карзину</a>
            </div>
        </div>
    </div>
}
