@using ViewModels
@model CartViewModel



@{
    ViewData["Title"] = "Home Page";
}


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Стоимость</th>
                <th>Количество</th>

            </tr>
        </thead>
        @foreach (CartItemViewModel p in Model.Items)
        {

            <tbody>
                <tr>
                    <td>@p.Product.Name</td>
                    <td>@p.Product.Cost руб.</td>
                    <td>@p.Cost руб.</td>
                    <td>
                        <a class="btn btn-primary" asp-area="" asp-controller="Cart" asp-action="Add" asp-route-productId="@p.Product.Id" role="button">+</a>
                        <a class="btn btn-danger" role="button">@p.Amount</a>
                        <a class="btn btn-primary" asp-area="" asp-controller="Cart" asp-action="DecreaseAmount" asp-route-productId="@p.Product.Id" role="button">-</a>
                    </td>
                </tr>
            </tbody>

        }
    </table>
    <div class="text-right">
        <h5>@Model.Cost руб.</h5>
    </div>


    <a class="btn btn-primary" href="/Home/Index" role="button">Продолжить покупки</a>
    <a class="btn btn-success" asp-area="" asp-controller="order" asp-action="index" role="button">Заказать</a>
    
}
else
{
    <p>Корзина пустая</p>
}


