@using OnlineShopWebApp.Models
@model Cart



@{
    ViewData["Title"] = "Home Page";
}


@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Стоимость</th>
                <th>Количество</th>

            </tr>
        </thead>
        @foreach (CartItem p in Model.Items)
        {

            <tbody>
                <tr>
                    <td>@p.Product.Name</td>
                    <td>@p.Product.Cost руб.</td>
                    <td>@p.Cost руб.</td>
                    <td>
                        <a class="btn btn-primary" href="/Cart/Add?productId=@p.Product.Id" role="button">+</a>
                        <a class="btn btn-danger" href="#" role="button">@p.Amount</a>
                        <a class="btn btn-primary" href="/Cart/DecreaseAmount?productId=@p.Product.Id" role="button">-</a>
                    </td>
                </tr>
            </tbody>

        }
    </table>
    <div class="text-right">
        <h5>@Model.Cost руб.</h5>
    </div>


    <a class="btn btn-primary" href="/Home/Index" role="button">Продолжить покупки</a>
    <a class="btn btn-success" href="/order/buy" role="button">Оформить заказ</a>
}
else
{
    <p>Корзина пустая</p>
}


