@model Cart

@{
    ViewData["Title"] = "Cart";
}

@if(Model == null || Model.Items.Count==0)
{
    <h3>Empty Cart</h3>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Cost, @Constants.Rub</th>
                        <th>Amount</th>
                        <th>Sum, @Constants.Rub</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                    <tr>
                        <td>@item.Product.Name</td>
                        <td>@item.Product.Cost</td>
                        <td>@item.Amount</td>
                        <td>@item.Cost</td>
                        <td>
                            <a class="btn btn-dark btn-sm" href="/cart/remove?productId=@item.Product.Id" role="button">-</a>
                            <a class="btn btn-dark btn-sm" href="/cart/add?productId=@item.Product.Id" role="button">+</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="text-right">
                <p>Total cost</p>
                <p>@Model.Cost</p>
            </div>
            <div class="text-center">
                <a class="btn btn-outline-warning btn-sm" href="/home/products" role="button">Continue explore</a>
                <a class="btn btn-outline-success btn-sm" href="/order/index" role="button">Сomplete</a>
                <a class="btn btn-outline-danger btn-sm" href="/cart/clear" role="button">Clear</a>

            </div>
        </div>

    </div>
}

