
@using OnlineShopWebApp
@using OnlineShopWebApp.Models

@model CartViewModel

<h2 align="center">Корзина</h2>
@if (Model == null)
{
    <div class="404">
        <h3 align="center">Корзина пустая</h3>
        <img class="card-img-top" src="/images/404.jpg" />
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="table-light" align="center">
                    <tr>
                        <th scope="col">Фото</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена (руб.)</th>
                        <th scope="col">Стоимость (руб.)</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Изменить</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cartItem in Model.Items)
                    {
                        <tr>
                            <td><img src=@cartItem.Product.ImagePath style="width: 80px; height: 80px;" /></td>
                            <td><a href="/product/index/@cartItem.Product.Id">@cartItem.Product.Name</a></td>
                            <td>@cartItem.Product.Cost</td>
                            <td>@cartItem.Cost</td>
                            <td>@cartItem.Count</td>
                            <td>
                                <div class="btn-group ml-2" role="group" aria-label="Add/Remove buttons">
                                    <a class="btn btn-danger" role="button" asp-area="" asp-controller="cart" asp-action="RemoveCountProductCart" asp-route-id="@cartItem.Product.Id">-</a>
                                    <a class="btn btn-danger" role="button" asp-area="" asp-controller="cart" asp-action="Add" asp-route-id="@cartItem.Product.Id">+</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
                <tr class="text-right">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><h3>Итого</h3></td>
                    <td><h3>@Model.Cost</h3></td>
                </tr>
            </table>
            <div class="text-right">
                <a type="button" class="btn btn-outline-danger" href="/cart/RemoveCartUser/?userId=@Model.UserId" role="button">Очистить корзину</a>
            </div>
            <div class="text-center">
                <a class="btn btn-dark" href="/home/index" role="button">Продолжить покупки</a>
                <a class="btn btn-dark" role="button" asp-area="" asp-controller="Order" asp-action="Index">Оформить заказ</a>
            </div>
        </div>
    </div>

}