@model CartViewModel

@{
    ViewData["Title"] = "Корзина";
}



<h2>Корзина</h2>

@if (Model != null)
{
    <div class="row">
        <div class="col my-2">
            <p>
                <a asp-controller="Cart" asp-action="RemoveAll" class="btn btn-danger btn-sm">Очистить корзину</a>
                <a asp-controller="Home" asp-action="Index" class="btn btn-dark btn-sm">Продолжить покупки</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            @foreach (var cartItem in Model.Items)
            {
                <div class="row">
                    <div class="col">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-3">
                                        <a asp-controller="Product" asp-action="Index" asp-route-id="@cartItem.Product.Id">
                                            <img src="@cartItem.Product.MainImagePath" width="100" height="175" alt="изображение книги" />
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <p><b><a class="text-decoration-none text-black" asp-controller="Product" asp-action="Index" asp-route-id="@cartItem.Product.Id">@cartItem.Product.Name</a></b></p>
                                        <p><h6>@cartItem.Product.Cost ₽</h6></p>
                                        <a asp-controller="Favorites" asp-action="Add" asp-route-productId="@cartItem.Product.Id" asp-route-control="@ViewContext.RouteData.Values["controller"].ToString()" asp-route-act="@ViewContext.RouteData.Values["action"].ToString()" class="btn btn-primary my-1"><i class="bi bi-bookmark"></i> в избранное</a>
                                    </div>
                                    <div class="col-3">
                                        <p><h5>@cartItem.Cost ₽</h5></p>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a asp-controller="Cart" asp-action="Add" asp-route-productId="@cartItem.Product.Id" class="btn btn-dark btn-sm">+</a>
                                            <a class="btn btn-dark">@cartItem.Quantinity</a>
                                            <a asp-controller="Cart" asp-action="Remove" asp-route-productId="@cartItem.Product.Id" class="btn btn-dark btn-sm">-</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-4">
            <div class="card border-0">
                <div class="card-body">
                    <div class="row">
                        <a asp-controller="Order" asp-action="Index" class="btn btn-warning" my-1>Оформить заказ</a>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <h3 class="text-right">Итого: @Model.TotalCost ₽</h3>
                </div>
            </div>
        </div>
    </div>
}

else
{
    <figure class="text-center">
        <h3>В корзине нет товаров</h3>
        <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Перейти в каталог</a>
    </figure>
}
