@model OnlineShopWebApp.Models.Buyer;
@{
    ViewData["Title"] = "Cart";
}


<div class="text-center">
    <h1 class="display-5 Title_sile">Корзина покупок</h1>
    <p></p>
</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered caption-top">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название проекта</th>
                <th scope="col">Изображение</th>
                <th scope="col">Габариты (м)</th>
                <th scope="col">Площадь (м2)</th>
                <th scope="col">Стоймость (руб)</th>
                <th scope="col"> </th>
            </tr>
            </thead>
            @if (Model.CartList.Count != 0)
            {
                <tbody>

                @for (int i = 0; i < Model.CartList.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>№ @Model.CartList[i].Name @Model.CartList[i].Description</td>
                        <td> <img class="card-img-top " src="/image/@Model.CartList[i].Images[0]" width="200"/></td>
                        <td>@Model.CartList[i].Length х @Model.CartList[i].Width</td>
                        <td>@Model.CartList[i].Square</td>
                        <td>@Model.CartList[i].Cost</td>
                        <td>
                            <a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1" 
                               asp-area="" asp-controller="Cart" 
                               asp-action="DeleteProductInCart" 
                               asp-route-productId="@i" 
                               role="button">Удалить из списка</a>
                        </td>
                    </tr>
                }
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td>Итого:</td>
                <td>  @Model.SumCost(@Model.CartList)</td>
                <td></td>
                </tbody>
            }
            else
            {
                <td colspan="7">Проекты отсутствуют</td>
            }

        </table>
    </div>
    <a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1" href="#" role="button">Оформить заказ</a>
    <a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1" asp-area="" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>
</div>
