@model List<OnlineShop.Db.Models.CartItem>

<div class="accordion" id="accordionExample">
    @foreach (var prod in Model)
    {
        for (int i = 1; i <= prod.Count; i++)
        {
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target=#id_@prod.Product.CodeNumber@i aria-expanded="false" aria-controls=id_@prod.Product.CodeNumber@i>
                            @prod.Product.CodeNumber - @prod.Product.Description ( тип @i )
                        </button>
                    </h2>
                </div>

                <div id=id_@prod.Product.CodeNumber@i class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img class="card-img-top" src="/image/@prod.Product.Images">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h6>@prod.Product.CodeNumber - @prod.Product.Description ( тип @i )</h6>
                                    <h6>Общая площадь: @prod.Product.Square м.кв.</h6>
                                    <h6>Габариты: @prod.Product.Length х @prod.Product.Width м</h6>
                                    <h6>Комплектация<font color="red">*</font>:</h6>
                                    <hr/>
                                    <div class="row small">
                                        <div class="col-9">
                                            Архитектурный и конструктивный разделы:
                                        </div>
                                        <div class="col-3">
                                            @prod.Product.Cost руб
                                        </div>
                                    </div>
                                    <div class="row small">
                                        <div class="col-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Паспорт проекта
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            5000.0 руб
                                        </div>
                                    </div>
                                    <div class="row small">
                                        <div class="col-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Копия проекта
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            2000.0 руб
                                        </div>
                                    </div>
                                    <div class="row small">
                                        <div class="col-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Посадка дома и других строений на участок
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            3000.0 руб
                                        </div>
                                    </div>
                                    <div class="row small">
                                        <div class="col-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Электронная копия документа (PDF)
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            7000.0 руб
                                        </div>
                                    </div>
                                    <div class="row small">
                                        <div class="col-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Цветные фасады:
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            500.0 руб
                                        </div>
                                    </div>
                                    <div class="row small">
                                        <div class="col-9">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Инженерные сети:
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            8000.0 руб
                                        </div>
                                    </div>
                                    <hr/>
                                    <div class="row">
                                        <div class="col-9"><h6>Полная стоимость проекта:</h6></div>
                                        <div class="col-3"><h6>@prod.Product.Cost руб</h6></div>
                                    </div>
                                    <h6 class="small"><font color="red">*</font> Паспорт проекта и Дополнительный комплект чертежей без лицензии (копия для строителей) отдельно от основного комплекта не продаются.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>
