@model Product

<form method="post">
    <div class="row">
        @await Html.PartialAsync("AdministrationMenu")
        <div class="col text-center">
            <h3>Редактировать информацию о продукте</h3>
            <label>Id</label>
            <input type="text" name="id" value="@Model.Id" readonly placeholder="@Model.Id"/>
            <br />
            <label>Название</label>
            <input type="text" name="name" value="@Model.Name" />
            <br />
            <label>Цена</label>
            <input type="text" name="cost" value="@Model.Cost" />
            <br />
            <label>Описание</label>
            <input type="text" name="description" value="@Model.Description" />
            <br />
            <label>Количество страниц</label>
            <input type="text" name="pages" value="@Model.Pages" />
            <br />
            <button class="btn btn-dark" type="submit" asp-controller="Administration" asp-action="EditProduct" asp-route-productId="@Model.Id">Сохранить</button>
        </div>
    </div>
</form>
