@model Order

<div class="row">
    @await Html.PartialAsync("AdministrationMenu")


    <div class="col-6">
        <h3>Заказ № </h3>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th>Дата и время</th>
                            <td>@Model.Date в @Model.Time</td>
                        </tr>
                        <tr>
                            <th>Адрес доставки</th>
                            <td>@Model.User.Adress</td>
                        </tr>
                        <tr>
                            <th>Получатель</th>
                            <td>@Model.User.Name</td>
                        </tr>
                        <tr>
                            <th>Телефон</th>
                            <td>@Model.User.Phone</td>
                        </tr>
                        <tr>
                            <th>E-mail</th>
                            <td>@Model.User.Email</td>
                        </tr>
                        <tr>
                            <th>Сумма</th>
                            <td>@Model.Cart.FullCost</td>
                        </tr>
                        <tr>
                            <th>Статус</th>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Model.State
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="/administration/editstate?orderId=@Model.Id?1">Обработан</a>
                                        <a class="dropdown-item" href="/administration/editstate?orderId=@Model.Id?2">В пути</a>
                                        <a class="dropdown-item" href="/administration/editstate?orderId=@Model.Id?3">Отменен</a>
                                        <a class="dropdown-item" href="/administration/editstate?orderId=@Model.Id?4">Доставлен</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>