@model UserViewModel

<div class="row">
    <div class="col-6">
        <table class="table">
            <tbody>
                <tr>
                    <td>Логин (электронная почта)</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Возраст</td>
                    <td>@Model.Age</td>
                </tr>              
            </tbody>
        </table>
        <br />
        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Действия
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-area="Admin" asp-controller="user" asp-action="ChangePassword" asp-route-userName="@Model.Email">Смена пароля</a>
                <a class="dropdown-item" asp-area="Admin" asp-controller="user" asp-action="Edit" asp-route-userName="@Model.Email">Редактирование данных</a>
                <a class="dropdown-item" asp-area="Admin" asp-controller="user" asp-action="EditRights" asp-route-userName="@Model.Email">Права доступа</a>
                <a class="dropdown-item" asp-area="Admin" asp-controller="user" asp-action="Delete" asp-route-userName="@Model.Email">Удалить пользователя</a>
            </div>
        </div>
    </div>
</div>

