@using OnlineShopWebApp.Areas.Admin.Models;

@model UserViewModel

@{
    ViewData["Title"] = "Пользователь";
}

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminPanel")
        </div>
        <div class="col-7">
            <h2>User @Model.Email</h2>
            <table class="table mt-4">
                <tbody>
                    <tr>
                        <td>First name</td>
                        <td>@Model.FirstName</td>
                    </tr>
                    <tr>
                        <td>Last name</td>
                        <td>@Model.LastName</td>
                    </tr>
                    <tr>
                        <td>Phone number</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Логин (email)</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Role</td>
                        <td>@Model.Role</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn dropdown-toggle btn-sm btn-outline-dark" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-id="@Model.Id">Сменить пароль</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-id="@Model.Id">Изменить данные пользователя</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="EditRights" asp-route-id="@Model.Id">Изменить права пользователя</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Remove" asp-route-id="@Model.Id">Удалить пользователя</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>