@model List<UserViewModel>
<div class="row">
	@await Html.PartialAsync("AdminMenu")

<div class="col-9">
		<div class="row">
		<h3>Список пользователей</h3>
		</div>

		<div class="row">
		<table class ="table">
			<thead>

		<tr>
			<th>№</th>
	        <th>Имя</th>
			<th>Телефон</th>
			<th>Логин</th>
	    </tr>
		</thead>
		<tbody>
		@for(int i=0; i<Model.Count; i++)
			{
				<tr>
					<td>@(i+1)</td>
					<td>@Model[i].FirstName</td>
					<td>@Model[i].Phone</td>
					<td>@Model[i].Email</td>
				<td><a 
						asp-area="Admin"
						asp-controller="User"
						asp-action="Detail"
						asp-route-name="@Model[i].FirstName">Подробнее</a></td>
				</tr>
			}
			</tbody>
		</table>
		</div>
		</div>
		</div>

