
@model List<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<div class="container">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenuLeft")
        </div>
        <div class="col-10">
            <h2>Orders</h2>
            <table class="table border-left border-right border-top border-bottom mt-4">
                <caption>Order list</caption>
                <thead class="table-light">
                    <tr>
                        <th scope="col">№</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Status</th>
                        <th scope="col">User Login</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tbody class="border-top-0">
                        <tr>
                            <td>
                                @(i + 1)
                            </td>
                            <td>
                                $@Model[i].TotalCost
                            </td>
                            <td>
                                @Model[i].Status
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                @Model[i].Date.ToString("dd.MM.yyyy")
                            </td>
                            <td>
                                @Model[i].Date.ToString("HH:mm")
                            </td>
                            <td>
                                <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-id="@Model[i].Id">More detailed</a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>