@*@using OnlineShopWebApp.Models

@model IEnumerable<OrderViewModel>
<div class="row text-center">

    @await Html.PartialAsync("AdminMenu")

    <div class="col-9">
        <h3>Список заказов</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Сумма</th>
                    <th>Статус</th>
                    <th>Пользователь(логин)</th>
                    <th>Дата</th>
                    <th>Время</th>
                </tr>
            </thead>
            @foreach (var p in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            <a style="color:black" asp-area="admin" asp-controller="order" asp-action="getorder" asp-route-orderId="@p.Id">@p.Id</a>
                        </td>
                        <td>@p.Items.Select(x => x.Cost).Sum()</td>
                        <td>@p.Status</td>
                        <td>@p.DeliveryInfo.Email</td>
                        <td>@p.CreatedDate.ToShortDateString()</td>
                        <td>@p.CreatedDate.ToShortTimeString()</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>*@