@using OnlineShopWebApp.Models
@model Order

<form method="post">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>Дата и время</td>
                    @*<td>@Model.CreateDateTime.ToString("g")</td>*@
                </tr>
                <tr>
                    <td>Адрес доставки</td>
                    <td>@Model.User.InputAddress</td>
                </tr>
                <tr>
                    <td>Получатель</td>
                    <td>@Model.User.InputLastName</td>
                </tr>
                <tr>
                    <td>Почта</td>
                    <td>@Model.User.InputEmail</td>
                </tr>
                <tr>
                    <td>Сумма заказа</td>
                    <td>@Model.Cost</td>
                </tr>
                <tr>
                    <td>Статус заказа</td>
                    <td>
                        <select asp-for="@Model.Status" asp-items="@Html.GetEnumSelectList<OrderStatus>()" class="form-control"></select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button class="btn btn-success" type="submit" asp-area="admin" asp-controller="Order" asp-action="UpdateOrderStatus" asp-route-orderId="@Model.Id">Обновить статус</button>
</form>