@using OnlineShopWebApp.Models;
@model List<OrderViewModel>

<div class="row">
    @await Html.PartialAsync("Menu")
   

    <div class="column">
        <table>
            <tr>
                <th>Список заказов</th>

            </tr>
            <tr>
                <th>N</th>
                <th>Сумма</th>
                <th>Статус</th>
                <th>Пользователь (логин)</th>
                <th>Дата</th>
                <th>Время</th>
            </tr>

            @if (Model != null)
            {
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td><a class="text" href="/admin/administration/EditOrder/@Model[i].Id" role="button">Заказ № @(i+1)</a> </td>
                        <td>@Model[i].Cart.CartCost</td>
                        <td>@Model[i].Status</td>
                        <td>@Model[i].OrderData.Name</td>
                        <td>@Model[i].OrderDate.ToShortDateString()</td>
                        <td>@Model[i].OrderDate.ToShortTimeString()</td>
                    </tr>
                }
            }


        </table>
    </div>
</div>