@model List<Product>

<div class="row">
    @await Html.PartialAsync("AdministrationMenu")


    <div class="col-10">
        <h3>Список продуктов</h3>
        <div class="row">
            <div class="col">
                <a asp-area="Admin" asp-controller="administration" asp-action="addnew">Добавить новый продукт</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Название</th>
                            <th>Цена руб</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>
                                    <a style="color:grey" asp-area="" asp-controller="product" asp-action="index"  asp-route-productId="@product.Id">
                                        <h5>@product.Name</h5>
                                    </a>
                                </td>
                                <td>@product.Cost</td>
                                <td><a asp-area="Admin" asp-controller="administration" asp-action="edit" asp-route-productId="@product.Id">Редактировать</a></td>
                                <td><a asp-area="Admin" asp-controller="administration" asp-action="delete" asp-route-productId="@product.Id">Удалить</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
