@using OnlineShopWebApp.Models
@model List<ProductViewModel>

@{
    ViewData["Title"] = "Favorites";
}

<div class="container">
    <div class="row">
        <div class="col-12 mb-4">
            <h2>Favorites</h2>
        </div>
        @foreach (var product in Model)
        {
            <div class="col-4 mb-4">
                <img class="img-thumbnail mb-2" src="@product.ImagePath" alt="@product.Name">
                <a style="color: darkblue"
               asp-controller="Product" asp-action="Index" asp-route-id="@product.Id"><h5>@product.Name</h5></a>
                <h6>$@product.Cost</h6>
                <div class="row justify-content-between">
                    <div class="col-auto text-left">
                        <a class="btn btn-outline-dark btn-sm text-nowrap" role="button"
                       asp-controller="Basket" asp-action="Add" asp-route-id="@product.Id">Add to basket</a>
                    </div>
                    <div class="col-auto text-right">
                        <a class="btn btn-outline-dark btn-sm text-nowrap" role="button"
                       asp-controller="Favorites" asp-action="Remove" asp-route-id="@product.Id">Remove</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-4">
        <div class="col-6 text-right">
            <a class="btn btn-outline-dark btn-sm text-nowrap" role="button" href="/">Continue shopping</a>
        </div>
        <div class="col-6 text-left">
            <a class="btn btn-outline-dark btn-sm text-nowrap" role="button"
               asp-controller="Favorites" asp-action="Clear">Clear</a>
        </div>
    </div>
</div>





