@model List<ProductViewModel>

@{
    ViewData["Title"] = "Избранное";
}

<h2>Избранное</h2>
@if (@Model != null)
{
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-3">
                <div class="card-deck">
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                        <img src="@product.ImgPath" class="card-img-top" alt="изображение книги" />
                    </a>
                    <div class="card-body">
                        <a class="text-decoration-none text-black" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id">
                            <h5 class="card-title">@product.Name</h5>
                        </a>
                        <div>
                            <h4>@product.Cost руб.</h4>
                            <a href="/favorites/Remove?productId=@product.Id" class="btn btn-danger btn-sm">удалить из избранного</a>
                        </div>

                        <a href="/cart/add?productId=@product.Id" class="btn btn-dark btn-sm">Добавить в корзину</a>
                        <a href="/product/index/@product.Id" class="btn btn-dark btn-sm">Подробнее</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <figure class="text-center">
        <h3>В избранном нет товаров</h3>
        <a class="btn btn-dark" asp-controller="Home" asp-action="Index">Перейти в каталог</a>
    </figure>

}
