@model User
@{
    ViewData["Title"] = "Пользователь " + @Model.Login;
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("MenuAdminPanel")
        <div class="col">
            <div class="container">
                <div class="col-10 container">
                    <div class="container">
                        <h3 class="display-5 Title_sile text-center">Пользователь: @Model.Login</h3>
                        <div class="row">
                            <div class="col-2 align-top">
                                Логин:
                            </div>
                            <div class="col align-top">
                                @Model.Login
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-2 align-top">
                                Фамилия:
                            </div>
                            <div class="col align-top">
                                @Model.Surname
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-2 align-top">
                                Отчество:
                            </div>
                            <div class="col align-top">
                                @Model.Secondname
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-2 align-top">
                                Email:
                            </div>
                            <div class="col align-top">
                                @Model.Email
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-2 align-top">
                                Телефон:
                            </div>
                            <div class="col align-top">
                                @Model.Phone
                            </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div class="col-2 align-top">
                                Роль:
                            </div>
                            <div class="col align-top">
                                @Model.RoleName
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
