@model List<User>
@{
    ViewData["Title"] = "Панель администратора";
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("MenuAdminPanel")
        <div class="col">
            <div class="container">
                <h3 class="display-5 Title_sile text-center">Список пользователей</h3>
                                <div class="table-responsive">
                    <table class="table table-bordered caption-top">
                        <thead>
                        <tr>
                            <th scope="col" class="align-top col-1">№</th>
                            <th scope="col" class="align-top small">Логин</th>
                            <th scope="col" class="align-top small">Email</th>
                            <th scope="col" class="align-top small">Имя</th>
                            <th scope="col" class="align-top small">Фамилия</th>
                            <th scope="col" class="align-top small">Телефон</th>
                            <th scope="col" class="align-top small">Роль</th>
                        </tr>
                        </thead>
                        @if (Model.Count != 0)
                        {
                            <tbody>
                            @for (int i = 0; i < Model.Count; i++)
                            {
                                <tr>
                                    <th class="col-1" scope="row">@(i + 1)</th>
                                    <td class="small"> <a  asp-area="Admin"
                                                           asp-controller="Users"
                                                           asp-action="Details"
                                                           asp-route-login="@Model[i].Login"
                                                           role="button">
                                        @Model[i].Login
                                    </a></td>
                                    <td class="small">@Model[i].Email</td>
                                    <td class="small">@Model[i].Firstname</td>
                                    <td class="small">@Model[i].Surname</td>
                                    <td class="small">@Model[i].Phone</td>
                                    <td class="small">@Model[i].RoleName</td>

                                </tr>
                            }
                            </tbody>
                        }
                        else
                        {
                            <td colspan="9">Зарегестрированные пользователи отсутствуют</td>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






