@using OnlineShopWebApp.ViewModels
@model UserProfileViewModel

 <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h3>Пользователь @Model.Email</h3>
                <hr />
                <div class="row">
                    <table class="table table-borderless">
                        <tr>
                            <td class="text-black-50">Имя:</td>
                            <td>@Model.FirstName</td>
                        </tr>
                        <tr>
                            <td class="text-black-50">Фамилия:</td>
                            <td>@Model.LastName</td>
                        </tr>
                        <tr>
                            <td class="text-black-50">Email:</td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td class="text-black-50">Телефон:</td>
                            <td>@Model.PhoneNumber</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>