@using OnlineShopWebApp.ViewModels
@model UserProfileViewModel
@*<div class="card shadow">
    <div class="card-body">
        <form asp-controller="Account" asp-action="EditProfile">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <img src="" width="300" height="475" alt="изображение книги" />
                </div>
                <div class="col-8">
                    <div class="mb-3">
                        <label>Название:</label>
                        <input type="text" class="form-control" asp-for="" placeholder="Имя" value="" />
                        <span asp-validation-for=""></span>
                    </div>
                    <div class="mb-3">
                        <label>Цена:</label>
                        <input type="text" class="form-control" asp-for="" placeholder="Цена" value="" />
                        <span asp-validation-for=""></span>
                    </div>
                    <div class="mb-3">
                        <label>Описание:</label>
                        <input type="text" class="form-control" asp-for="" placeholder="Описание" value="" />
                        <span asp-validation-for=""></span>
                    </div>
                    <div class="mb-3">
                        <label>Изображение:</label>
                        <input type="file" class="form-control" asp-for=""  />
                    </div>
                    <input type="hidden" class="form-control" asp-for="Id" value="@Model.Id" />
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-dark">Изменить</button>
                    </div>
                    <div class="mb-3 text-center">
                        <a class="btn btn-dark" asp-controller="Product" asp-action="Index">Отмена</a>
                    </div>
                </div>

            </div>

        </form>
    </div>*@

 <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h3>Пользователь @Model.Email</h3>
                <hr />
                <div class="row">
                    <table class="table table-borderless">
                        <tr>
                            <td class="text-black-50">Имя:</td>
                            <td>@Model.FirstName</td>
                        </tr>
                        <tr>
                            <td class="text-black-50">Фамилия:</td>
                            <td>@Model.LastName</td>
                        </tr>
                        <tr>
                            <td class="text-black-50">Email:</td>
                            <td>@Model.Email</td>
                        </tr>
                        <tr>
                            <td class="text-black-50">Телефон:</td>
                            <td>@Model.PhoneNumber</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>